.vscode
src
test
docs

.browserlistrc
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.mocharc.json
babel.config.json
jsconfig.json
rollup.config.dist.js
rollup.config.build.js
tsconfig.json
tsconfig.testing.json
test/scratch.js
